{% extends "base.html" %}

{% block title %} Montadoras {% endblock %}

{% block title_page %} Montadoras {% endblock %}

{% block content %}
<div class="d-flex justify-content-end">
  <a href="/montadoras_form" class="btn btn-primary">Adicionar montadora</a>
</div>
<div class="area-form">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nome da montadora</th>
        <th scope="col">País da montadora</th>
        <th scope="col">Ano da montadora</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for montadora in montadoras %}
      <tr>
        <td>{{ montadora.nome }}</th>
        <td>{{ montadora.pais }}</td>
        <td>{{ montadora.ano_fundacao }}</td>
        <td>
          <div class="btn-group" role="group"> 
            <a class="btn btn-secondary" href="/montadora_edit/{{ montadora.id }}">Editar</a>
            <a class="btn btn-dark" href="/montadora_delete/{{ montadora.id }}"> Excluir</a> 
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}