{% extends "base.html" %}

{% block title %} Nova Montadora {% endblock %}

{% block content %}
<form action="/montadora_save" method="post">
  <div class="area-form">
    <section class="area-montadora">
      <h4>Montadora</h4>
      <input type="text" class="form-input" name="nome" placeholder="Nome da Montadora">
      <input type="text" class="form-input" name="pais" placeholder="Pais">
      <input type="text" class="form-input" name="ano" placeholder="Ano da Montadora">
      <input type="submit" class="form-submit" 1value="Salvar Montadora">
    </section>
  </div>
</form>


{% endblock %}